body {
  font: normal normal normal 13px/160% monospace;
}

#wrapper {
  width: 96%;
  min-width: 400px;
  margin: 0 auto;
}

.request {
  margin-top: 20px;
}

.request h2,
.request .date,
.request .headers,
.request .body {
  clear: both;
  margin: 0 0 1px 0;
  padding: 10px;
  background-color: #f0f0f0;
  white-space: pre-wrap;
}

.request .date {
  padding: 4px 10px;
  font-size: 11px;
  float: left;
}
