body {
  font: normal normal normal 13px/160% monospace;
}

#wrapper {
  width: 96%;
  min-width: 400px;
  margin: 0 auto;
}

.request {
  margin-top: 10px;
}

.request h2,
.request .headers,
.request .body {
  display: none;
  clear: both;
  margin: 0 0 1px 0;
  padding: 10px;
  background-color: #f0f0f0;
  white-space: pre-wrap;
}

.request h2,
.request.active .headers,
.request.active .body {
  display: block;
}

.request h2 {
  cursor: pointer;
}
